{% extends "layouts/base.html" %}

{% block title %} Daily report {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}
{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="/static/assets/css/daily.css" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Monthly report</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/report">Reports</a></li>
                    <li class="breadcrumb-item active"><a href="/daily_report">Daily report</a></li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="header-panel">
                            <a class="link" href="/monthly_report/{{ data.last }}"><</a>
                            <span class="card-title">{{data.month}} - {{data.year}}</span> 
                            <a class="link" href="/monthly_report/{{ data.next }}">></a>      
                        </div>                 
                        <div class="table-responsive col-lg-4">
                            <table class="table">
                                {% for hour in data.emotions %}
                                <tr>
                                    <td class="target">                                           
                                        <span class="hour">
                                            {{ hour.day }}
                                        </span>                                          
                                        <i class="{{ hour.emotion }} day">                                                                                            
                                        </i> 
                                        <span class="tooltiptext"> {{ hour.text }}</span>
                                      </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
